{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h2>修改密码</h2>
  <form action="" enctype="multipart/form-data" method="POST">
    {{ form.csrf_token() }}
    <label>旧密码</label>
    <p>
        {{ form.old_pass }}
    </p>
    {% for err in form.errors.old_pass %}
         <p style="color:red;">[-] {{ err }}</p>
    {% endfor %}
    {% for msg in get_flashed_messages() %}
      <p style="color:red;">[-] {{ msg }}</p>
    {% endfor %}

    <label>新密码</label>
    <p>
        {{ form.new_pass }}
    </p>
    {% for err in form.errors.new_pass %}
         <p style="color:red;">[-] {{ err }}</p>
    {% endfor %}

    <label>确认新密码</label>
    <p>
        {{ form.confirm_pass }}
    </p>
    {% for err in form.errors.confirm_pass %}
         <p style="color:red;">[-] {{ err }}</p>
    {% endfor %}

      <p>{{ form.submit }}</p>

    </p>
  </form>
</div>

<script>
  var now = new Date();
  //格式化日，如果小于9，前面补0
  var day = ("0" + now.getDate()).slice(-2);
  //格式化月，如果小于9，前面补0
  var month = ("0" + (now.getMonth() + 1)).slice(-2);
  //拼装完整日期格式
  var today = now.getFullYear()+"-"+(month)+"-"+(day);
  $("#birthDay").val(today);
</script>

{% endblock %}
