{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h2>Login</h2>
        <form action="/login" method="post" name="login" role="form">
            {{ form.csrf_token() }}
            {{ form.hidden_tag() }}
            <label>Username：</label>
            <p>{{ form.user_name }}</p>
            {% for error in form.errors.user_name %}
                <p style="color:red;">[-] {{ error }}</p>
            {% endfor %}
            <label>Password：</label>
            <p>{{ form.password }}</p>
            {% for error in form.errors.password %}
                <p style="color:red;">[-] {{ error }}</p>
            {% endfor %}

            <div>
                <!--
                <label>记住账号：</label>
                <p>{{ form.remember_me }}</p>
                -->
                <p>{{ form.submit }}</p>
            </div>
        </form>
    </div>

    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>

        </h4> </a>
    </div>
{% endblock %}