<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap_html</title>
    <meta charset="utf-8">
    <!-- viewport是为了让网页对移动设备友好 -->
    <!-- inital-scale确保网页加载时,不会有任何的缩放 -->
    <!-- devic-width确保能正确的显示在不同的设备上 -->
    <meta name="viewport" content=" width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="{{ url_for('adminBlueprint.static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{{ url_for('adminBlueprint.static',filename='js/jquery.min.js') }}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ url_for('adminBlueprint.static',filename='js/bootstrap.min.js') }}"></script>
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file: //  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9 -->
    <script src=""></script>
    <script src=""></script>
    <!-- <![endif]-->
    <style>
        .di {
            display: inline-block;
            width: 100%;
            height: 30px;
        }
    </style>
</head>
<body>
<div class="portainer">
    <ul class="nav nav-pills  col-md-offset-1">
        <li role="presentation" class="active"><a href="#">UserInformation</a></li>
        <li role="presentation"><a href="{{ url_for('adminBlueprint.UserCommodity',page=1) }}">UserCommodity</a></li>
        <li role="presentation"><a href="{{ url_for('webBlueprint.index') }}">返回主页</a></li>

    </ul>
    <div class="di"></div>
    <div class="portainer col-md-10 col-md-offset-1">
        <table class="table table-bordered table-hover" id="userList">
            {#模态框激活按钮#}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="openMD"
                    data-whatever="sss"
                    style="display: none;">

            </button>
            <tr>
                <th>id</th>
                <th>userName</th>
                <th>name</th>
                <th>birthDate</th>
                <th>telephone</th>
                <th>email</th>
                <th>status</th>
                <th>type</th>
                <th>remark</th>
            </tr>
            {% for user in UserInformationList %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.birthDate }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.email }}</td>
                    <td data={{ user.status }}>
                        {% if user.status == '0000' %}
                            激活
                        {% elif user.status == '0001' %}
                            未激活
                        {% else %}
                            禁用
                        {% endif %}
                    </td>
                    <td data="{{"true" if user.type else "false"}}">
                        {% if user.type == True %}
                            管理员
                        {% else %}
                            普通用户
                        {% endif %}
                    </td>
                    <td>{{ user.remark }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit</h4>
            </div>
            <div class="modal-body">
                userID:<input type="text" class="form-control" id="change_userID" readonly>
                user name:<input type="text" class="form-control" id="change_userName">
                name:<input type="text" class="form-control" id="change_name">
                birthDate:<input type="text" class="form-control" id="change_birthDate">
                telephone:<input type="text" class="form-control" id="change_telephone">
                email:<input type="text" class="form-control" id="change_email">
                {#                status:<input type="text" class="form-control" id="change_status">#}

                <div class="form-group">
                    <label for="name">status:</label>
                    <select class="form-control" id="change_status">
                        <option value="0000">激活</option>
                        <option value="0001">未激活</option>
                        <option value="0002">禁用</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">type:</label>
                    <select class="form-control" id="change_type">
                        <option value=true>管理员</option>
                        <option value=false>普通用户</option>
                    </select>
                </div>
                remark:<input type="text" class="form-control" id="change_remark">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="portainer col-md-offset-5 ">
    <nav aria-label="Page navigation">
        <ul class="pagination col-md-12">
            {% if page > 1 %}
                <li>
                    <a href="{{ url_for('adminBlueprint.Userinformation', page=page - 1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for foo in range(1,pageCount + 1) %}
                {% if foo == page %}
                    <li class="active"><a
                            href="{{ url_for('adminBlueprint.Userinformation', page=foo) }}" id="now_page">{{ foo }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('adminBlueprint.Userinformation', page=foo) }}">{{ foo }}</a></li>
                {% endif %}

            {% endfor %}
            {% if page < pageCount %}
                <li>
                    <a href="{{ url_for('adminBlueprint.Userinformation', page=page + 1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- <script src="{{ url_for('adminBlueprint.static',filename='js/modal.js') }}"></script> -->
<script type="text/javascript">
$(() => {
    let obj_list = $("#userList tr:gt(0)");
    $.each(obj_list, (index, item) => {
        $(item).dblclick(() => {
            $("#openMD").click();
            let current_userID = $($(item).children("td").get(0)).text();
            let current_userName = $($(item).children("td").get(1)).text();
            let current_name = $($(item).children("td").get(2)).text();
            let current_birthDate = $($(item).children("td").get(3)).text();
            let current_telephone = $($(item).children("td").get(4)).text();
            let current_email = $($(item).children("td").get(5)).text();
            let current_status = $($(item).children("td").get(6)).attr("data");
            let current_type = $($(item).children("td").get(7)).attr("data");
            let current_remark = $($(item).children("td").get(8)).text();
            $("#change_userID").val(current_userID);
            $("#change_userName").val(current_userName);
            $("#change_name").val(current_name);
            $("#change_birthDate").val(current_birthDate);
            $("#change_telephone").val(current_telephone);
            $("#change_email").val(current_email);
            $("#change_status").val(current_status);
            $("#change_type").val(current_type);
            $("#change_remark").val(current_remark);
        })
    });
$("#save").click(()=>{
  let subData = {
    "userID": $("#change_userID").val(),
    "userName": $("#change_userName").val(),
    "name": $("#change_name").val(),
    "birthDate": $("#change_birthDate").val(),
    "telephone": $("#change_telephone").val(),
    "email": $("#change_email").val(),
    "status": $("#change_status").val(),
    "type": $("#change_type").val(),
    "remark": $("#change_remark").val(),
    "now_page" : $("#now_page").text()
  }
  $.ajax({
    type: "post",
    dataType: "json",
    contentType: 'application/json;charset=UTF-8',
    data: JSON.stringify(subData),
    url: "{{ url_for('adminBlueprint.userUpdate') }}",
    success: (data, status) => {

    }
  });
  window.location.reload();
});
})
</script>
</body>
</html>
