<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap_html</title>
    <meta charset="utf-8">
    <!-- viewport是为了让网页对移动设备友好 -->
    <!-- inital-scale确保网页加载时,不会有任何的缩放 -->
    <!-- devic-width确保能正确的显示在不同的设备上 -->
    <meta name="viewport" content=" width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="{{ url_for('adminBlueprint.static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{{ url_for('adminBlueprint.static',filename='js/jquery.min.js') }}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ url_for('adminBlueprint.static',filename='js/bootstrap.min.js') }}"></script>
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file: //  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9 -->
    <script src=""></script>
    <script src=""></script>
    <!-- <![endif]-->
    <style>
        .di {
            display: inline-block;
            width: 100%;
            height: 30px;
        }
    </style>

</head>
<body>
<div class="portainer">
    <ul class="nav nav-pills  col-md-offset-1">
        <li role="presentation"><a href="{{ url_for('adminBlueprint.Userinformation',page=1) }}">UserInformation</a>
        </li>
        <li role="presentation" class="active"><a href="#">UserCommodity</a></li>
        <li role="presentation"><a href="{{ url_for('webBlueprint.index') }}">返回主页</a></li>
    </ul>
    <div class="di"></div>
    <div class="portainer col-md-10 col-md-offset-1">
        <table class="table table-bordered table-hover" id="commList">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="openMD"
                    data-whatever="sss"
                    style="display: none;">

            </button>
            <tr>
                <th>commodityID</th>
                <th>userID</th>
                <th>commodityName</th>
                <th>hopePrice</th>
                <th>status</th>
                <th>remark</th>
            </tr>
            {% for comm in UserCommodityList %}
                <tr id="{{ comm.commodityID }}">
                    <td>{{ comm.commodityID }}</td>
                    <td>{{ comm.userID }}</td>
                    <td>{{ comm.commodityName }}</td>
                    <td>{{ comm.hopePrice }}</td>
                    <td data="{{ comm.status }}">
                        <div >
                            {% if comm.status == '0000' %}
                                有效
                            {% elif comm.status == '0001' %}
                                无效
                            {% elif comm.status == '0010' %}
                                中止
                            {% else %}
                                删除
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ comm.remark }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit</h4>
                    </div>
                    <div class="modal-body">
                        commodityID:<input type="text" class="form-control" id="change_commodityID" readonly>
                        userID:<input type="text" class="form-control" id="change_userID" readonly>
                        commodityName:<input type="text" class="form-control" id="change_commodityName">
                        hopePrice:<input type="text" class="form-control" id="change_hopePrice">
                        <div class="form-group">
                            <label for="name">status:</label>
                            <select class="form-control" id="change_status">
                                <option value="0000">有效</option>
                                <option value="0001">无效</option>
                                <option value="0010">中止</option>
                                <option value="0011">删除</option>
                            </select>
                        </div>
                        remark:<input type="text" class="form-control" id="change_remark">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
<div class="portainer col-md-offset-5 ">
    <nav aria-label="Page navigation">
        <ul class="pagination col-md-12">
            {% if page > 1 %}
                <li>
                    <a href="{{ url_for('adminBlueprint.UserCommodity', page=page - 1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for foo in range(1,pageCount + 1) %}
                {% if foo == page %}
                    <li class="active"><a href="{{ url_for('adminBlueprint.UserCommodity', page=foo) }}">{{ foo }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('adminBlueprint.UserCommodity', page=foo) }}">{{ foo }}</a></li>
                {% endif %}

            {% endfor %}
            {% if page < pageCount %}
                <li>
                    <a href="{{ url_for('adminBlueprint.UserCommodity', page=page + 1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>


<!-- modal -->
<script>
    let subData = null;
    let obj_lis = document.getElementById("commList").getElementsByTagName("tr");
    for (let i = 1; i < obj_lis.length; i++) {
        obj_lis[i].ondblclick = function () {
            document.getElementById("openMD").click();
            let current_commodityID = this.getElementsByTagName("td")[0].innerText;
            let current_userID = this.getElementsByTagName("td")[1].innerText;
            let current_commodityName = this.getElementsByTagName("td")[2].innerText;
            let current_hopePrice = this.getElementsByTagName("td")[3].innerText;
            let current_status = this.getElementsByTagName("td")[4].getAttribute("data");
            let current_remark = this.getElementsByTagName("td")[5].innerText;
            document.getElementById("change_commodityID").value = current_commodityID;
            document.getElementById("change_userID").value = current_userID;
            document.getElementById("change_commodityName").value = current_commodityName;
            document.getElementById("change_hopePrice").value = current_hopePrice;
            document.getElementById("change_status").value = current_status;
            document.getElementById("change_remark").value = current_remark;
            subData = {
                "commodityID": current_commodityID,
                "change_userID": current_userID,
                "change_commodityName": $("#change_commodityName").val(),
                "change_hopePrice": $("#change_hopePrice").val(),
                "change_status": $("#change_status").val(),
                "change_remark": $("#change_remark").val()
            }
            console.log(current_status);
            console.log(subData)
        }
    }
</script>

</body>
</html>