<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap_html</title>
        <meta charset="utf-8">
        <!-- viewport是为了让网页对移动设备友好 -->
        <!-- inital-scale确保网页加载时,不会有任何的缩放 -->
        <!-- devic-width确保能正确的显示在不同的设备上 -->
        <meta name="viewport"content=" width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="" rel="stylesheet">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="{{ url_for('adminBlueprint.static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="{{ url_for('adminBlueprint.static',filename='js/jquery.min.js') }}"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="{{ url_for('adminBlueprint.static',filename='js/bootstrap.min.js') }}"></script>
        <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file: //  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9 -->
        <script src=""></script>
        <script src=""></script>
        <!-- <![endif]-->
    </head>
    <body>
		<div class="portainer">
			<ul class="nav nav-pills  col-md-offset-1">
			  <li role="presentation" class="active"><a href="#">UserInformation</a></li>
			  <li role="presentation"><a href="{{ url_for('adminBlueprint.UserCommodity',page=1) }}">UserCommodity</a></li>
			</ul>

			<div class="portainer col-md-10 col-md-offset-1">
				<table class="table table-bordered table-hover">
				  <tr>
				              <th>id</th>
				              <th>userName</th>
				              <th>name</th>
				              <th>birthDate</th>
				              <th>telephone</th>
				              <th>email</th>
				              <th>status</th>
				              <th>type</th>
				              <th>remark</th>
				          </tr>
				          {% for user in UserInformationList %}
				          <tr>
				              <td>{{ user.id }}</td>
				              <td>{{ user.userName }}</td>
				              <td>{{ user.name }}</td>
				              <td>{{ user.birthDate }}</td>
				              <td>{{ user.telephone }}</td>
				              <td>{{ user.email }}</td>
				              <td>
				                  {% if user.status == '0000' %}
				                      激活
				                  {% elif user.status == '0001' %}
				                      未激活
				                  {% else %}
				                      禁用
				                  {% endif %}
				              </td>
				              <td>
				                  {% if user.type == True %}
				                      管理员
				                  {% else %}
				                      普通用户
				                  {% endif %}
				              </td>
				              <td>{{ user.remark }}</td>
				          </tr>
				          {% endfor %}
				</table>
			</div>


		</div>


        <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
        <script src=""></script>
        <!-- 包括所有已编译的插件 -->
        <script src=""></script>
    </body>
</html>