{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h2>
            你好，{{ user.userName }}
        </h2>
        <p>
            提醒邮箱: {{ user.email }}
        </p>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" href="#">添加监控商品</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                商品ID
            </th>
            <th>
                商品名称
            </th>
            <th>
                期望价格
            </th>
            <th>
                备注
            </th>
            <th>
                监控状态
            </th>
            <th>
                监控开关
            </th>
        </tr>
        {% if commodityList %}
            {% for commodity in  commodityList %}

                <tr>
                    <td>
                        {{ commodity.commodityID }}
                    </td>
                    <td>
                        {{ commodity.commodityName }}
                    </td>

                    <td>
                        {{ commodity.hopePrice }}
                    </td>

                    <td>
                        {{ commodity.remark }}
                    </td>
                    <td>
                        {{ commodity.status }}
                    </td>
                    <td>
                        <div class="btn btn-default">
                            切换
                        </div>
                    </td>

                </tr>
            {% endfor %}

        {% endif %}
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
            小贴士：
        </h4> 一旦商品价格低于预期价格，您便会收到一封提醒邮件。<b>当前监控使用的代理可用性不佳，导致监控效率低，正在改善代理池中！</b></a>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <br>
            <br><br><br><br><br>
            </p>
        </div>
    </div>
{% endblock %}